header.followall-header {
    background-color: #E1F4FC;
    
    img {
        padding: 0 30px;
        max-width: 600px;
        width: 100%;
    }
}

nav.bg-darkblue {
    background-color: #08374E;
}