@import url('https://fonts.googleapis.com/css?family=Kalam|Tangerine&display=swap');

header.followall-header {
    background-color: #E1F4FC;

    img {
        padding: 0 30px;
        max-width: 600px;
        width: 100%;
    }
}

.bg-darkblue {
    background-color: #08374E;
}

footer  {
    a {
    color: #79baff;

    }
    a:hover {
        color: #9db7d3;
     }
}
